.App {
  text-align: center;
  font-family: 'Dokdo', cursive;
  background-image: url(./img/Visit-Smurf-Village-In-Smurfs-Reboot-Concept-Art.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.Smurf{
  background: rgba(110, 214, 248, 0.6);
  width: 40%;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  background: rgba(110, 214, 248, 0.6);
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  margin: 0 5px;
  padding: 5px;
}

h3 {
  font-size: 40px;
  margin: 0;
}
strong {
  font-size: 30px;
}

p{
  font-size: 30px;
  margin: 0;
}

i {
  margin-left: 340px;
  margin-top: 10px;
  cursor: pointer;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  margin: 20px auto;
  background: rgba(110, 214, 248, 0.6);
  border-radius: 10px;
  
}
.Btn {
  text-decoration: none;
  color: black;
  background: rgba(110, 214, 248, 0.6);
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  margin: 5px auto;
  font-family: 'Dokdo', cursive;
  padding: 5px;
}

input {
  border: none;
  border-bottom: 1px solid black;
  margin: 5px auto; 
  background: rgba(110, 214, 248, 0);
  width: 80%;
  font-size: 30px;
  font-family: 'Dokdo', cursive;
  font-weight: bold;

}

h1 {
  color: black;
  background: rgba(110, 214, 248, 0.6);
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  
  padding: 5px;
}

.SmurfForm {
  height: 300px;
}

::placeholder {
  color:black;
}